{% extends 'base.html.twig' %}

{% block title %}New Series
{% endblock %}

{% block body %}
	<h1>Create new Series</h1>

	<form method="post" action="{{ path('series_new') }}">
		<input type="text" placeholder="Imdb.." name="search">
		<input type="submit" value="Add" class="search" onclick=" {{ path('series_new') }} ">
	</form>

	{{ series }}

	<a href="{{ path('series_index') }}">back to list</a>
{% endblock %}
