<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Notre projet{% endblock %}</title>
    </head>
    <body>
        {% block body %}
            {% block contenue %}
                <p>Ici va être le contenue de notre projet</p>
            {% endblock %}
        {% endblock %}
    </body>
</html>
