
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Our Project - Home{% endblock %}</title>
        {% block stylesheet %}<link rel="stylesheet" type="text/css" href="{{ asset('styleSheets/base.css') }}">{% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% include 'navbar.html.twig' %}
        {% endblock %}
        {% block body %}

            {% block presentation %}
            <div class="content">
                <h1>Website referencing series</h1>
                <p>Learning web developpment, we had a project whitch consists on creating a website using a database gathering informations on series.</p>
                <p>This is the result of this project</p>
                <p>This website uses a database of series, you can use the search bar to find a serie you want.</p>
                <p>Theres a login system, click on login to log yourself, if you have no account then click on the "register" link below</p>
                <p>While logged, you can have access to your informations if you click on your name on the navigation bar.</p>
                <p>The "information" section tells you more about the creators of the website</p>
            </div>
            {% endblock %}
        {% endblock %}
    </body>
</html>
