<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Notre projet{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {% block contenue %}<p>Ici va être le contenue de notre projet</p>{% endblock %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
