# Cache and logs (Symfony2)
/notreProjet/app/cache/*
/notreProjet/app/logs/*
!notreProjet/app/cache/.gitkeep
!notreProjet/app/logs/.gitkeep

# Email spool folder
/notreProjet/app/spool/*

# Cache, session files and logs (Symfony3)
/notreProjet/var/cache/*
/notreProjet/var/logs/*
/notreProjet/var/sessions/*
!notreProjet/var/cache/.gitkeep
!notreProjet/var/logs/.gitkeep
!notreProjet/var/sessions/.gitkeep

# Logs (Symfony4)
/notreProjet/var/log/*
!notreProjet/var/log/.gitkeep

# Parameters
/notreProjet/app/config/parameters.yml
/notreProjet/app/config/parameters.ini

# Managed by Composer
/notreProjet/app/bootstrap.php.cache
/notreProjet/var/bootstrap.php.cache
/notreProjet/bin/*
!notreProjet/bin/console
!notreProjet/bin/symfony_requirements
/notreProjet/vendor/

# Assets and user uploads
/notreProjet/web/bundles/
/notreProjet/web/uploads/

# PHPUnit
/notreProjet/app/phpunit.xml
/notreProjet/phpunit.xml

# Build data
/notreProjet/build/

# Composer PHAR
/notreProjet/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/notreProjet/.web-server-pid
