{% extends 'base.html.twig' %}
{% block title %}A propos{% endblock %}

{% block presentation %}
            <div class="content">
                <h1>About us</h1>
                <p>This website have been done by:</p>
                <ul>
                	<li>Quentin Esnault</li>
                	<li>Nicolas Ducarton</li>
                </ul>
            </div>
            <div class="content">
                <h1>The work we've done</h1>
                <p>We have done much</p>
            </div>
            <div class="content">
                <h1>What was difficult</h1>
                <p>We are so strong...</p>
            </div>
{% endblock %}