{% extends 'base.html.twig' %}
{% block title %}A propos
{% endblock %}

{% block presentation %}

	<div class="row center-align">
		<div class="col s12 m6 offset-m3 center-align">
			<div class="center-align card-panel red accent-2 white-text">
				<div class="">
					<h1>About us</h1>
					<p>This website have been done by:</p>
					<ul>
						<li>Quentin Esnault</li>
						<li>Nicolas Ducarton</li>
					</ul>
				</div>
				<div class="">
					<h1>The work we've done</h1>
					<p>We have made the website following the subject at
						<a href="https://gregwar.com/s3web/project.html#title.1">this adress</a>.</p>
					<p>We have made the navigation bar with a search form, a page where you can see the series, navigate throught seasons and episodes, a login and register system with admins and regular users, and series rating.</p>
					<p>Globally, our website covers pratically all the subject, exept for the "adding new series for the admin" function that is not finished, because we do not import youtube trailers for exemple.</p>
					<p>Also, sorting series by their medium rate is not quite done yet.</p>
					<p>To add an admin, you have to create it directly in the database, then this admin can add a serie with the imbd id and remove the comments of the other users</p>
				</div>
				<div class="">
					<h1>What was difficult</h1>
					<p>For each of us there was some difficulties, related with the project or with the discovering of a new technology</p>
					<h2>For Quentin</h2>
					<ul>
						<li>One thing that was a little bit hard was to understand the symfony mvc system</li>
						<li>The way entities, views and controllers works was disturbing at first</li>
						<li>The lack of internet resources was a constraint too...</li>
					</ul>
					<br>
					<h2>For Nicolas</h2>
					<ul>
						<li>It was hard because it is the first time I use a framework, and the concept of views and controllers was a little bit hard ton understand, especially when it comes to make them communicate.</li>
						<li>Plus, the TD's do not cover all the subject of the project, so some part of the project were "write code and try"</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
